In [1]:
#Loading necessary libraries
import pandas as pd
import numpy as np

In [50]:
#Loading the Data
Hospital_data = pd.read_excel("C:\\Users\\tuhin\\Downloads\\Hospital+Performance+Improvement+Dataset.xlsx")

In [51]:
#Glimpse of Data. It is visible that first two rows have no value hence unnecessary.
Hospital_data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Note: 1. Data are for a month unless otherwise...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Doctor Name,Specialization,Department,Number of Appointments Scheduled,Number of Appointments Completed,Number of Appointments Cancelled due to Non-Av...,Number of Appointments Rescheduled due to Non-...,Number of Appointments Cancelled due to Patien...,Outpatient Wait Time/patient,Patient Satisfaction Score Average (Scale of 5),Revenue Generated,Expense to Hospital (Doctor Salary per annum)
3,Doctor A,Orthopaedician,Orthopaedics,112,106,3,4,3,12,3.8,62010,315000
4,Doctor B,Cardiologist,Cardiology,60,52,3,4,5,12,4.2,25220,311000

In [52]:
#Dropping first two unnecessary rows
Hospital_data.drop([0,1], inplace=True)

In [53]:
#Assigning first row details as column heads
Hospital_data.columns=Hospital_data.iloc[0]
Hospital_data=Hospital_data[1:]

In [54]:
#Verify the data
Hospital_data.head(5)

2,Doctor Name,Specialization,Department,Number of Appointments Scheduled,Number of Appointments Completed,Number of Appointments Cancelled due to Non-Availability of Doctor,Number of Appointments Rescheduled due to Non-Availability of Doctor,Number of Appointments Cancelled due to Patients not showing up,Outpatient Wait Time/patient,Patient Satisfaction Score Average (Scale of 5),Revenue Generated,Expense to Hospital (Doctor Salary per annum)
3,Doctor A,Orthopaedician,Orthopaedics,112,106,3,4,3,12,3.8,62010,315000
4,Doctor B,Cardiologist,Cardiology,60,52,3,4,5,12,4.2,25220,311000
5,Doctor C,Paediatrician,Paediatrics,78,73,2,4,3,11,3.7,21900,157999
6,Doctor D,Psychiatrist,Psychiatry,55,49,2,3,4,21,4.2,18620,176000
7,Doctor E,Neurologist,Neurology,45,39,3,2,3,21,3.6,18135,311000

In [7]:
#Describe the dataset for understanding column behaviours
Hospital_data.describe()

2,Doctor Name,Specialization,Department,Number of Appointments Scheduled,Number of Appointments Completed,Number of Appointments Cancelled due to Non-Availability of Doctor,Number of Appointments Rescheduled due to Non-Availability of Doctor,Number of Appointments Cancelled due to Patients not showing up,Outpatient Wait Time/patient,Patient Satisfaction Score Average (Scale of 5),Revenue Generated,Expense to Hospital (Doctor Salary per annum)
count,30,30,30,30,30,30,30,30,30,30.0,30,30
unique,30,9,9,22,26,6,7,6,14,10.0,30,27
top,Doctor U,MD,General Medicine,65,62,3,4,3,12,3.7,18620,311000
freq,1,5,5,3,2,10,10,9,5,5.0,1,2

In [29]:
#Department wise "Appointment schedule" count with descending order
Dept_apt_sch = Hospital_data.groupby("Department")["Number of Appointments Scheduled"].sum().sort_values(ascending=False)
print(Dept_apt_sch)

Department
Orthopaedics        399
General Medicine    392
Gynecology          282
Cardiology          265
Paediatrics         223
Neurology           168
Opthalmology        141
Skin                135
Psychiatry          113
Name: Number of Appointments Scheduled, dtype: int64

In [30]:
#Department wise "Doctors" count with descending order
Dept_Doc_count = Hospital_data.groupby("Department")["Doctor Name"].count().sort_values(ascending=False)
print(Dept_Doc_count)

Department
General Medicine    5
Orthopaedics        4
Neurology           4
Gynecology          4
Cardiology          4
Paediatrics         3
Skin                2
Psychiatry          2
Opthalmology        2
Name: Doctor Name, dtype: int64

In [31]:
#Department wise Appointment count per doctor with descending order
Dept_Apt_count_per_doc = (Hospital_data.groupby("Department")["Number of Appointments Scheduled"].sum()/Hospital_data.groupby("Department")["Doctor Name"].count()).sort_values(ascending=False)
print(Dept_Apt_count_per_doc)

Department
Orthopaedics        99.750000
General Medicine    78.400000
Paediatrics         74.333333
Opthalmology        70.500000
Gynecology          70.500000
Skin                67.500000
Cardiology          66.250000
Psychiatry          56.500000
Neurology           42.000000
dtype: float64

In [58]:
#Department wise "Number of Appointments Cancelled due to Non-Availability of Doctor" count with descending order
Dept_Doc_Apt_Cancel = Hospital_data.groupby("Department")["Number of Appointments Cancelled due to Non-Availability of Doctor"].sum().sort_values(ascending=False)
print(Dept_Doc_Apt_Cancel)

Department
General Medicine    20
Orthopaedics        14
Cardiology          14
Neurology           11
Gynecology          10
Paediatrics          9
Skin                 7
Opthalmology         5
Psychiatry           3
Name: Number of Appointments Cancelled due to Non-Availability of Doctor, dtype: int64

In [65]:
#Department wise "Number of Appointments Cancelled due to Patients not showing up" count with descending order
Dept_Patient_Apt_Cancel = Hospital_data.groupby("Department")["Number of Appointments Cancelled due to Patients not showing up"].sum().sort_values(ascending=False)
print(Dept_Patient_Apt_Cancel)

Department
Cardiology          20
Orthopaedics        14
Neurology           14
General Medicine    14
Paediatrics         10
Gynecology          10
Skin                 8
Psychiatry           6
Opthalmology         4
Name: Number of Appointments Cancelled due to Patients not showing up, dtype: int64

In [32]:
#Department wise "Outpatient Wait Time" count with descending order
Dept_Out_wait = Hospital_data.groupby("Department")["Outpatient Wait Time/patient"].sum().sort_values(ascending=False)
print(Dept_Out_wait)

Department
Gynecology          82
Orthopaedics        65
Neurology           65
General Medicine    46
Cardiology          46
Psychiatry          44
Opthalmology        44
Paediatrics         26
Skin                20
Name: Outpatient Wait Time/patient, dtype: int64

In [38]:
#Department wise "Number of Appointments Completed" count with descending order
Dept_Apt_completed = Hospital_data.groupby("Department")["Number of Appointments Completed"].sum().sort_values(ascending=False)
print(Dept_Apt_completed)

Department
Orthopaedics        371
General Medicine    358
Gynecology          262
Cardiology          231
Paediatrics         204
Neurology           143
Opthalmology        132
Skin                120
Psychiatry          104
Name: Number of Appointments Completed, dtype: int64

In [33]:
#Department wise Revenue generation with descending order
Dept_Total_Rev = Hospital_data.groupby("Department")["Revenue Generated"].sum().sort_values(ascending=False)
print(Dept_Total_Rev)

Department
Orthopaedics        214695
Cardiology          117452
Gynecology           97916
Neurology            84332
General Medicine     78540
Opthalmology         72550
Paediatrics          57284
Skin                 32600
Psychiatry           32370
Name: Revenue Generated, dtype: int64

In [16]:
#How much volume can a department handle?
Volumn_of_dept = (Hospital_data.groupby("Department")["Number of Appointments Scheduled"].sum()/Hospital_data.groupby("Department")["Doctor Name"].count()).sort_values(ascending=False)
print(Volumn_of_dept)

Department
Orthopaedics        99.750000
General Medicine    78.400000
Paediatrics         74.333333
Opthalmology        70.500000
Gynecology          70.500000
Skin                67.500000
Cardiology          66.250000
Psychiatry          56.500000
Neurology           42.000000
dtype: float64

In [27]:
#((Hospital_data.groupby("Department")["Revenue Generated"].sum())/Hospital_data["Expense to Hospital (Doctor Salary per annum)"].sum()).sort_values(ascending=False)

Dept_E2H_monthly = (Hospital_data.groupby("Department")["Expense to Hospital (Doctor Salary per annum)"].sum())/12
print(Dept_E2H_monthly)

Department
Orthopaedics        0.261709
Cardiology          0.143172
Gynecology          0.119358
Neurology           0.102799
General Medicine    0.095739
Opthalmology        0.088437
Paediatrics         0.069828
Skin                0.039739
Psychiatry          0.039458
Name: Revenue Generated, dtype: float64

In [39]:
#Which department is generating the most revenue per dollar spent on it?
(Dept_Total_Rev/Dept_E2H_monthly).sort_values(ascending=False)

Department
Opthalmology        2.737736
Orthopaedics        1.992702
Paediatrics         1.456160
Gynecology          1.397230
General Medicine    1.225592
Skin                1.157396
Cardiology          1.124840
Psychiatry          1.116207
Neurology           0.840233
dtype: float64

In [55]:
#How well is each department utilising its doctors?
Dept_Doc_Utilisation = (Dept_Apt_completed/Dept_Doc_count).sort_values(ascending=False)
print(Dept_Doc_Utilisation)

Department
Orthopaedics        92.75
General Medicine    71.60
Paediatrics         68.00
Opthalmology        66.00
Gynecology          65.50
Skin                60.00
Cardiology          57.75
Psychiatry          52.00
Neurology           35.75
dtype: float64

In [56]:
#Check types of columns and change accordingly for mean function
Hospital_data.dtypes
Hospital_data["Patient Satisfaction Score Average (Scale of 5)"] = Hospital_data["Patient Satisfaction Score Average (Scale of 5)"].astype('float')

Department
Opthalmology        4.150000
Psychiatry          4.000000
Orthopaedics        4.000000
Paediatrics         3.966667
Skin                3.900000
Cardiology          3.875000
Gynecology          3.825000
General Medicine    3.820000
Neurology           3.700000
Name: Patient Satisfaction Score Average (Scale of 5), dtype: float64

In [57]:
#Which departments are patients most satisfied with?
Dept_satifaction_score = Hospital_data.groupby("Department")["Patient Satisfaction Score Average (Scale of 5)"].mean().sort_values(ascending=False)
print(Dept_satifaction_score)

Department
Opthalmology        4.150000
Psychiatry          4.000000
Orthopaedics        4.000000
Paediatrics         3.966667
Skin                3.900000
Cardiology          3.875000
Gynecology          3.825000
General Medicine    3.820000
Neurology           3.700000
Name: Patient Satisfaction Score Average (Scale of 5), dtype: float64

In [66]:
Dept_Rev_Per_Patient = Dept_Total_Rev/(Dept_apt_sch-(Dept_Doc_Apt_Cancel+Dept_Patient_Apt_Cancel))
print(Dept_Rev_Per_Patient)

Department
Cardiology          508.450216
General Medicine    219.385475
Gynecology          373.725191
Neurology           589.734266
Opthalmology        549.621212
Orthopaedics        578.692722
Paediatrics         280.803922
Psychiatry          311.250000
Skin                271.666667
dtype: float64

In [67]:
Dept_Revenue_loss = Dept_Doc_Apt_Cancel*Dept_Rev_Per_Patient
print(Dept_Revenue_loss)

Department
Cardiology          7118.303030
General Medicine    4387.709497
Gynecology          3737.251908
Neurology           6487.076923
Opthalmology        2748.106061
Orthopaedics        8101.698113
Paediatrics         2527.235294
Psychiatry           933.750000
Skin                1901.666667
dtype: float64

In [68]:
#How much revenue is each department losing because of doctors cancelling their appointments?
Dept_Revenue_leakage = ((Dept_Revenue_loss/(Dept_Revenue_loss+Dept_Total_Rev))*100).sort_values(ascending=False)
print(Dept_Revenue_leakage)

Department
Neurology           7.142857
Cardiology          5.714286
Skin                5.511811
General Medicine    5.291005
Paediatrics         4.225352
Gynecology          3.676471
Opthalmology        3.649635
Orthopaedics        3.636364
Psychiatry          2.803738
dtype: float64